@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* =========================
       Fonts
    ========================= */
    --font-montserrat: "Montserrat", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* =========================
       Brand Colors
    ========================= */
    --color-brand-primary: #a020f0;
    --color-brand-secondary: #6415d8;
    --color-brand-accent: #7c3aed;

    /* =========================
       Background
    ========================= */
    --color-app-bg: #f8f6ff;
    --color-surface: #ffffff;
    --color-surface-soft: #ffffff73;

    /* =========================
       Text
    ========================= */
    --color-text-primary: #181321;
    --color-text-secondary: #4b4655;
    --color-text-muted: #9ca3af;

    /* =========================
       Border
    ========================= */
    --color-border: #ffffffcc;
    --color-border-soft: #ede9fe;

    /* =========================
       Purple Shades
    ========================= */
    --color-purple-soft: #f3e8ff;
    --color-purple-light: #e9d5ff;
    --color-purple-medium: #c084fc;
    --color-purple-dark: #6d28d9;

    /* =========================
       Glow
    ========================= */
    --color-glow-purple: #c084fc;
    --color-glow-fuchsia: #f0abfc;
    --color-glow-violet: #a78bfa;
}
.ant-select,
.ant-select-selection-placeholder,
.ant-select-selection-item,
.ant-select-dropdown,
.ant-select-item-option-content {

  font-family: "Urbanist", sans-serif !important;

}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}


.fee-history-table .ant-table {
  border-radius: 16px;
  overflow: hidden;
}

.fee-history-table .ant-table-thead > tr > th {
  background: linear-gradient(
    90deg,
   #9333ea,
  #4f46e5
  ) !important;
  color: white !important;
  font-weight: 700;
  text-align: center;
  padding: 14px 10px;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.fee-history-table .ant-table-tbody > tr > td {
  text-align: center;
  padding: 12px 8px;
  border: 1px solid #ede9fe;
}

.fee-history-table .ant-table-tbody > tr > td:first-child {
  text-align: left;
}

.fee-history-table .ant-table-tbody > tr:hover > td {
  background: #faf5ff !important;
}


/* Month Grid Cell */
.fee-history-table .ant-table-cell {
  min-width: 80px;
}


/* Due / Paid Button */
.fee-history-table button {
  width: 70px;
  font-size: 13px;
}